* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
}

.cadastro {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    margin: 14px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 40px;
}


#form_dados h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-size: 24px;
}

.form_cadastro {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto 15px auto;
}

.form_cadastro label {
    margin-bottom: 6px;
    color: #555;
    font-weight: 500;
}

.form_cadastro input:not([type="checkbox"]) {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.2s;
}

.form_cadastro input:focus {
    outline: none;
    border-color: #007bff;
}

.form_cadastro a {
    font-size: 0.8em;
    visibility: hidden;
    transition: visibility 0s, color 0.3s ease;
    height: 16px;
    margin-top: 4px;
    color: #d93025;
}

.form_cadastro.erro a {
    visibility: visible;
}

.form_cadastro.erro input {
    border-color: #d93025;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.btn button {
    width: 80%;
    height: 45px;
    background:  rgb(53, 156, 53);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 550;
    transition: background-color 0.2s;
}

.btn button:hover {
    background: rgb(7, 150, 7);
}